
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 900px;
  position: relative;

}
:root {
  --white-font-color: white;
  --black-font-color: black;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--black-font-color);
}
button{
    cursor: pointer;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header-spacing{
    margin-top: 100px;
}
.header__inner {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo-link {
  text-transform: uppercase;
  color: var(--white-font-color);
}
.main {
    background-image: url('../img/apples.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__inner {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
}
.main__titling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__title {
    color: var(--white-font-color);
    text-transform: uppercase;
    font-weight: 300;
}
.main__title-styling{
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.main__title-desc {
    color: var(--white-font-color);
    font-size: 12px;
    text-decoration-line: underline;
}
.main__btn {
    border: 1px solid var(--white-font-color);
    color: var(--white-font-color);
    background-color:rgba(0, 0, 0, 0.300);
    font-size: 14px;
    padding: 10px 40px;
}
.nav__item{
    color: var(--white-font-color);
}
.nav__item_footer{
    color: black;
}
.nav__item_footer:not(:last-child){
    margin-right: 30px;
}
.nav__item_header:not(:last-child){
    margin-right: 50px;
}
.section{
    padding: 150px 0;
}
.section_description__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section__desc{
    max-width: 50%;
}
.section_green{
    background-color: #F3F3F3;
}
.section__desc_bg{
    font-size: 20px;
}
.section__article-block{
    text-align: center;
}
.section__article{
    white-space: nowrap;
}
.section_featured{
    padding: 150px 0 80px 0;
}
.featured-articles{
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}
.featured-article{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.featured-article:nth-child(2n) .featured-article__img-block{
    order: 2;
}
.featured-article:nth-child(2n) .featured-article__desc-block{
    order: 1;
}
.featured-article:not(:last-child){
    margin-bottom: 25px;
}
.featured-article__img-block{
    padding: 15px;
    min-width: 60%;
    height: 300px;
    position: relative;
}
.featured-article__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-article__desc-block{ 
    padding: 0 20px;

}
.featured-article__desc{
    text-align: center;
}
.featured-article__like-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid var(--white-font-color);
    color: var(--white-font-color);
    background-color:rgba(0, 0, 0, 0.600);
    font-size: 12px;
    padding: 8px 12px;
}
.featured-article__img-name{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--white-font-color);
}
.search{
    margin-top: 80px;
    padding: 40px 20px;
    background-color: var(--white-font-color);
}
.search__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search-input__block{
    width: max-content;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 20px;
}
.search-input__item{
    width: 90%;
    padding: 10px;
}
.search-input__btn{
    padding: 10px;
    color: var(--white-font-color);
    background-color: rgb(95, 91, 91);
}
.footer__inner{
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_social {
    width: max-content;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 20px;
    align-items: center;
}
.input_news_block {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.news_input {
   width: 90%;
   padding: 10px;
   margin-top: -10px;
}
.news_button {
    padding: 10px;
    color: var(--white-font-color);
    background-color: rgb(95, 91, 91);
    border-radius: 0%;
}
.footer_text {
    color:rgb(207, 199, 199);
}
.text_footer_time {
    color:rgb(236, 227, 227);
}
.footer__copyrite {
    color:rgb(236, 227, 227);
}